spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/churchdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  session:
    store-type: jdbc

file:
  upload-dir: uploads